@use "../scss/variables.scss" as colors;

.grid {
  background-color: colors.$background-dark;
  min-height: 50vh;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2rem;
  padding: 2rem;
  
  & > * {
    width: 100%;
    max-width: 340px;
    height: 340px;
    @media (max-width: 500px) {
        width: 335px;
        height: 225px;
    }
    @media (max-width: 375px) {
      width: 100%;
  }
  }

  @media (max-width: 1325px) {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media (max-width: 1024px) {
    gap: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
    column-gap: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: colors.$grid-background-light;
  }
}